go 1.25.5

use (
	./services/blockchain/address
	./services/blockchain/networks/evm/protocol
	./services/blockchain/broadcaster
	./services/blockchain/indexer
	./services/blockchain/publisher
	./services/custody
	./shared
)
